# use unix line endings on install script
install eol=lf

# Windows install files use Windows line endings
*.bat eol=crlf
*.ps1 eol=crlf

# Windows line endings on CANalyzer skeleton files
*.can eol=crlf
*.cin eol=crlf

